*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/************************************************
* Stili Tag
************************************************/


/************************************************
* Stili Classi
************************************************/

[class*="colw_"] {
    float: left;
}
  
.colw_1_9 {
width: calc(100% / 9);
}

.colw_2_9 {
width: calc(100% / 9 * 2);
}

.colw_3_9 {
width: calc(100% / 9 * 3);
}

.colw_4_9 {
width: calc(100% / 9 * 4);
}

.colw_5_9 {
width: calc(100% / 9 * 5);
}

.colw_6_9 {
width: calc(100% / 9 * 6);
}

.nav{
    width: 1440px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 99;
}

.nav__listContainer{
    width: 50%;
    float: left;
    text-align: left;
    padding: 20px 10px;
    line-height: 50px;
}

.nav__listContainer--right{
    width: 50%;
    float: right;
    text-align: right;
}

.nav__listContainer__list,
.containerCol__col__containerPrice__list,
.containerCol__col__containerList__list{
    list-style: none;
}
.nav__listContainer__list__item{
    display: inline-block;
    margin: 0 15px;
}

.nav__listContainer__list__item__link{
    text-decoration: none;
    color: black;
}

.nav__listContainer__list__item__link__btn,
.hero__heroSection__containerLeft__btn,
.containerCol__col__containerPrice__btn,
.containerEnterprise__detail__btn,
.containerIntoYourBusiness__containerbtn__btn{
    color: white;
    background-color: #0061ff;
    padding: 6px 20px;
    border: 0;
}

.hero{
    width: 100%;
    background-color: #b4d0e7;
    margin-top: 90px;
}

.hero__heroSection{
    width: 80%;
    margin: auto;
    transform: translateY(60px);
}

.hero__heroSection__title{
    font-size: 77px;
}

.hero__heroSection__containerLeft{
    margin-top: 25px;
    font-size: 16px;
    padding-right: 150px;
}

.hero__heroSection__containerLeft__par{
    margin-bottom: 25px;
}

.hero__heroSection__containerLeft__text{
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 25px;
}

.hero__heroSection__containerLeft__arrow{
    font-size: 25px;
}

.hero__heroSection__imgContainer{
    margin-top: 25px;
}

.hero__heroSection__imgContainer__img{
    width: 100%;
}

.containerMainSmall{
    margin: auto;
    width: 80%;  
}

.containerMainSmall--top{
    margin-top: 100px;
}

.containerMainSmall__titlePiano{
    font-size: 40px;
    padding-left: 20px;
}

.containerMainSmall__containerForm{
    padding-left: 20px;
}

.containerMainSmall__containerForm__form{
    padding-top: 30px;
    padding-bottom: 15px;
}

.containerMainSmall__containerForm__form__lable{
    margin-right: 15px;
    font-size: small;
}

.containerCol{
    width: 100%;
}

.containerCol__col{
    padding: 0 20px;
}

.containerCol__col--border{
    border: 1px solid lightgray;
    min-height: 980px;
}

.containerCol__col__containerSmallTitle{
    border-bottom: 1px solid lightgray;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

.containerCol__col__containerSmallTitle__title{
    font-weight: normal;
}

.containerCol__col__containerPrice{
    width: 100%;
    border-bottom: 0;
    padding: 0 20px;
    padding-top: 30px;
}

.containerCol__col__containerPrice__title{
    font-size: 25px;
    padding-bottom: 15px;
}

.containerCol__col__containerPrice__price{
    font-size: 16px;
    padding-bottom: 10px;
}

.containerCol__col__containerPrice__detail{
    font-size: 16px;
    padding-bottom: 30px;
}

.containerCol__col__containerPrice__list__item{
    padding: 10px 0;
}

.containerCol__col__containerPrice__btn{
    width: 100%;
    margin-top: 30px;
}

.containerCol__col__containerPrice__buyNow{
    font-size: 16px;
    padding: 15px 0;
}

.containerCol__col__hr{
    width: 10%;
    color: lightgray;
}

.containerCol__col__containerList{
    width: 100%;
    border-top: 0;
    padding: 0 20px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.containerCol__col__containerList__list__item{
    padding: 15px 0;
}

.containerCol__col__containerList__list__item--first{
    font-size: 17px;
    font-weight: bold;
}

.containerEnterprise{
    width: 100%;
    padding: 50px 20px;
}

.containerEnterprise__containerTitle{
    border: 1px solid lightgray;
    text-align: center;
    padding: 5px 0;
}

.containerEnterprise__containerTitle__title{
    font-weight: normal;
}

.containerEnterprise__detail{
    border: 1px solid lightgray;
    border-top: 0;
    padding: 30px 20px;
    position: relative;
}

.containerEnterprise__detail__title{
    font-size: 25px;
}

.containerEnterprise__detail__smallTitle{
    font-size: 16px;
    padding: 20px 0;
}

.containerEnterprise__detail__par{
    font-size: 15px;
}

.containerEnterprise__detail__btn{
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 10px 60px;
}

.containerPartner{
    padding: 30px 20px;
}

.containerPartner__containerImg{
    float: left;
}

.containerPartner__containerImg__img{
    width: 100%;
}

.containerPartner__detail{
    float: right;
    padding-top: 20px;
    padding-left: 30px;
}

.containerPartner__detail__title{
    font-size: 25px;
    padding-top: 30px;

}

.containerPartner__detail__par{
    padding: 30px 0;
}

.containerPartner__detail__btn{
    border: 1px solid black;
    background-color: white;
    padding: 8px 16px;
}

.containerMainSmall__businessTitle{
    font-size: 40px;
    padding: 30px 20px;
}

.containerCards__card{
    padding: 50px 20px;
}

.containerCards__card__containerImg__img{
    width: 100%;
    height: 50%;
}

.containerCards__card__containerCardText__title{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.containerCards__card__containerCardText__par{
    font-size: 16px;
}

.dropboxUsers{
    padding-top: 100px;
    padding-left: 20px;
    padding-bottom: 40px;
}

.dropboxUsers__Title{
    width: 51%;
    font-size: 40px;
    padding-bottom: 30px;
}

.containerMainLarge{
    width: 100%;
    background-color: #b4d0e7;
}

.containerPartners{
    width: 100%;
}

.containerPartners__containerBox{
    float: left;
    width: 30%;
}

.containerPartners__containerBoxLarge{
    float: left;
    width: 40%;
    height: 30vw;
    overflow: auto;
    background-color: rgb(245, 245, 245);
    padding: 50px;
}

.containerPartners__containerBox__box{
    float: left;
    width: 50%;
    height: calc(30vw / 2);
}

.containerPartners__containerBox__box__img{
    width: 60%;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

.containerPartners__containerBoxLarge__boxLarge__img{
    width: 30%;
    padding-bottom: 30px;
}

.containerPartners__containerBoxLarge__boxLarge__hr{
    width: 15%;
    background-color: rgb(226, 226, 227);
}

.containerPartners__containerBoxLarge__boxLarge__par{
    font-size: 14px;
    padding: 40px 0;
}

.containerPartners__containerBoxLarge__boxLarge__quoteName{
    font-size: 14px;
    font-weight: normal;
}

.containerIntoYourBusiness{
    width: 80%;
    margin: auto;
    padding: 100px 20px;
}

.containerIntoYourBusiness__containerText{
    float: left;
    width: 50%;
}

.containerIntoYourBusiness__containerText__title{
    font-size: 40px;
    color: #61082B;
}

.containerIntoYourBusiness__containerbtn{
    float: right;
}

.containerIntoYourBusiness__containerbtn__btn{
    color: black;
    background-color: white;
    padding: 6px 40px;
}

.containerMainSmall--bottom{
    padding: 100px 20px;
}

.titleFAQ{
    font-size: 25px;
    padding-bottom: 40px
}

.containerFAQ{
    border-top: 1px solid rgb(220, 220, 222);
    padding: 30px;
}

.containerFAQ details{
    float: left;
}

.containerFAQ__summary{
    list-style: none;
    font-weight: bolder;
}

.containerFAQ__arrowDown{
    float: right;
}

.containerFAQ--last{
    border-bottom: 1px solid rgb(220, 220, 222);
}


/* Stili Footer */
.footer{
    width: 100%;
    background-color: #000000;
    padding-top: 80px;
    padding-bottom: 35px;
}

.containerFooter{
    width: 80%;
    margin: auto;
}

.containerFooter__listContainer{
    width: 100%;
    margin-bottom: 80px;
}

.containerFooter__listContainer__list{
    display: inline-block;
    list-style: none;
    margin-right: 85px;
    vertical-align: top;
}

.containerFooter__listContainer__list__item--first{
    padding-bottom: 15px;
    font-weight: 900;
}

.containerFooter__listContainer__list__item__link{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.containerFooter__hr{
    width: 10%;
}

.containerFooter__containerLang{
    margin-top: 35px;
}

.containerFooter__containerLang__lang{
    color: white;
    font-size: 10px
}

/************************************************
* Classi Utilities
************************************************/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .checkBlue{
      color: #0061ff;
  }